<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>IV</key>
			<string>e76643251b4372391ba51a792cedeef4</string>
			<key>Key</key>
			<string>e0e1384c88b1d56c00ff7a72d2e19154a6f6f7924349053e5f672ea5a9ca9fc5</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4442-009.dmg</string>
			<key>IV</key>
			<string>b56b49cbcd6538d195bca0a9b1823c97</string>
			<key>Key</key>
			<string>0959e15bc15d9d08847ca16a8bce4d74b1cf0ef6b27a24d43e18802059d57047</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-03758-306.dmg</string>
			<key>IV</key>
			<string>85844d971357d70e27b996d66d199452</string>
			<key>Key</key>
			<string>6620d676345a13c9d7e6700c1b542da892d2eda21a62070df4219f6673680f48</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93a.RELEASE.dfu</string>
			<key>IV</key>
			<string>e0a4eed7518e0187bad24bd19680b81b</string>
			<key>Key</key>
			<string>8165d7d33737224699c18a2ad3aa4f66e5c6d32597321739b3c810f12b91fcf0</string>
			<key>Patch</key>
			<string>iBSS.k93a.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93a.RELEASE.dfu</string>
			<key>IV</key>
			<string>a5bc160d59f357220318f076c01245e8</string>
			<key>Key</key>
			<string>fc2e065f46177e54c85462edbd3d0535d6d470c16abdae9b4af9b0f47adf59dd</string>
			<key>Patch</key>
			<string>iBEC.k93a.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>543b5ef1dd334d1171de209d43e66555</string>
			<key>Key</key>
			<string>aa6aa3ac98dd8d3ab2e494f1885a40bc9825e81e0869e55787cd80b5fb895d55</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>45cfe008bef00e7ead1489a7f4042b65</string>
			<key>Key</key>
			<string>fa266f9dd3c8943279f3f96d4d38382630ac8e03ee7d9b0419658b49d9764562</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict>
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93a.plist</string>
	<key>RootFilesystem</key>
	<string>058-07903-225.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1800</integer>
	<key>RootFilesystemKey</key>
	<string>1587c0f6b4ac152c285f229e5f206989028a5e34a4d6e0b3b7813a40310eb13280a75fac</string>
	<key>RootFilesystemMountVolume</key>
	<string>Monarch13A452.K93aOS</string>
	<key>SHA1</key>
	<string>0d9ce51f8e7e40debb5a0b9412ec74a9d38492b0</string>
	<key>Filename</key>
	<string>iPad2,4_9.0.2_13A452_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,4_9.0.2_13A452</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
