<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>ba71ffa1cf3d22a39ca6d5161bb315c7</string>
			<key>Key</key>
			<string>f4a4bca780761ccb3424a3a206d243f17498d5a3fdd990a1861da9f1acf75ef8</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n92</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4266-010.dmg</string>
			<key>IV</key>
			<string>ab730b85ad270792ffd33f9c75382d15</string>
			<key>Key</key>
			<string>8b368bd8e2a09f000258f794c95ed405c1078796abefe1f522ec42e248e08f0b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1056-002.dmg</string>
			<key>IV</key>
			<string>5d018cef7bd97e01d3f461c41a9ded19</string>
			<key>Key</key>
			<string>9638e18a42cbe483bd8e6794c18807141923e53c61cf5a2ae3f1238ae3e2723d</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6fb11b195173e9cb5326df526098be97</string>
			<key>Key</key>
			<string>6c9942847b842a6cb169e42f1e9405ff86a6d9aa522708ef7087b28ee71b223f</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a97a1bb44a7b1b0d3d66693b31b331ec</string>
			<key>Key</key>
			<string>a96a1e4bcfff0652a09524c2827362b3979ffc5eb0e17f17cc8dffc0488c0c94</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>7997f582b4305bcde79a66a77ff1dc04</string>
			<key>Key</key>
			<string>5aed684dcafd9734be75851cf9fc14836ca88690c71e90c3d86a5d08317012ff</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n92ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>99c8021b5921fa42dcdc05493b2aac2a</string>
			<key>Key</key>
			<string>4f5f04d0ae5d1f776ef26afc8d155ef781683d5155aeb607f1dab350cb279ae1</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RootFilesystem</key>
	<string>058-1057-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1822</integer>
	<key>RootFilesystemKey</key>
	<string>d5b9bce6ac3838a51d01fec0fc3fed101a7d2542d3b892fac61a4390bb462f1c4af867a8</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.N92OS</string>
	<key>SHA1</key>
	<string>b29b29c48d6c27a8de9d2fdc104abd02a70e56b5</string>
	<key>Filename</key>
	<string>iPhone3,3_7.0.4_11B554a_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,3_7.0.4_11B554a</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
