<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>90e5d4275add7cfdb7da9ab98e06651d</string>
			<key>Key</key>
			<string>d9e79366ec6a8d473c6074393dfd738b5e941db0e6c363ddfcfc4f0c13fa7d11</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4322-002.dmg</string>
			<key>IV</key>
			<string>bc0dfee5e18f7f07a71b095196f559ca</string>
			<key>Key</key>
			<string>e98347c07a3a1911240f29a3ffc1adc7c331fd4b85aa017832c360413784df77</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>091e84a68e4e07b741b1c291927e604b</string>
			<key>Key</key>
			<string>c9fe327b019be3caca859fab50fa490c0977dc89bba1c3e9d013e2d755857010</string>
			<key>Patch</key>
			<string>iBSS.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>da2326753bb6c51f141380c6f52b7672</string>
			<key>Key</key>
			<string>aca40904f21fe9ae97b47ef8f14ec531f9d801ef8559a8fd92a02a196707bbcb</string>
			<key>Patch</key>
			<string>iBEC.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>a9a1b67593708056ee2d9281e6395c13</string>
			<key>Key</key>
			<string>25f16a691b71771dac39b652678e62aaaa57c00cdc98a3ef28394536b03b89eb</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>0b2fb935aa238ed0ef52ab25e8f0c3b5</string>
			<key>Key</key>
			<string>f9d1ac2fcfdaa13e03120fde503a2ed85c6fef9ff2df8bf4f737e71f8b371a66</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>058-4369-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1443</integer>
	<key>RootFilesystemKey</key>
	<string>48e6b8101c2dbcc6205d7e842f35cae1de4a3fc456fd564156f68eaef2b18163731c72bc</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D167.P105OS</string>
	<key>SHA1</key>
	<string>ed19486cd082cfccc351b812b283e21ab8819680</string>
	<key>Filename</key>
	<string>iPad2,5_7.1_11D167_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_7.1_11D167</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
