<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>IV</key>
			<string>97cc9250b83cdca537f83ab723356350</string>
			<key>Key</key>
			<string>7548b318b98e7e4c598dc48a0480a55de1d75fcb05eedf2f88b970328ba69f9e</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-2434-319.dmg</string>
			<key>IV</key>
			<string>e344eda37a83d5ada6f0282ac96f4be5</string>
			<key>Key</key>
			<string>8dc368717644321e6fed9b22b293cd779ba739639a4f669cb954d8e2d8821a2f</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>387a88569e89dbf1efd5c60e892d265d</string>
			<key>Key</key>
			<string>7cbfa0df3363b6c36e39c03b4e9dc783fc1f0b8ce9f2108e03692d5cdd54a3c4</string>
			<key>Patch</key>
			<string>iBSS.k93aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>1f2379cbe87a6dad5885f559b9e41221</string>
			<key>Key</key>
			<string>00c07f7154ec0000753abd76eeca59d2f845fec2201faac2eb5d903bf337252a</string>
			<key>Patch</key>
			<string>iBEC.k93aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>60d59c453865dc749585db614969a941</string>
			<key>Key</key>
			<string>4e154d82635a69080d0e02559560cf8e56746b2b31136e3b6e14e873aa650819</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>c385cb6d60af5b5bad68394fbb5edd7c</string>
			<key>Key</key>
			<string>e5accbdc8e4353a0d549f4d8e00f432ef2f40be78bbb2054d496da546f9e6114</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93a.plist</string>
	<key>RootFilesystem</key>
	<string>038-2433-327.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1491</integer>
	<key>RootFilesystemKey</key>
	<string>387093ebef63331fc1013ec680af9f00374e9bddeb2417acc20a4aaf2e03d1588f363ebe</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A403.K93aOS</string>
	<key>SHA1</key>
	<string>a21c644c4c397823cc828f3ae8c1b37538192968</string>
	<key>Filename</key>
	<string>iPad2,4_6.0_10A403_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,4_6.0</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
