<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>61835d4db725a392b55aba8ef6001393</string>
			<key>Key</key>
			<string>f58f534031fc37104fabca7caed3b79bc9fef34430d60a1e6db6057605c47883</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n92</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4266-010.dmg</string>
			<key>IV</key>
			<string>ab730b85ad270792ffd33f9c75382d15</string>
			<key>Key</key>
			<string>8b368bd8e2a09f000258f794c95ed405c1078796abefe1f522ec42e248e08f0b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-0322-002.dmg</string>
			<key>IV</key>
			<string>79b109e785cc835e1e8ccd365c74c938</string>
			<key>Key</key>
			<string>7f79a5e29af13aab7cea87a55e268e521413ccd1b4983a2e4c841e845c97e69c</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>03ce0e0218cc6fc2010164aee0360faf</string>
			<key>Key</key>
			<string>e55afa9d84221b2fe9bd0dc04f56c11c29646da131b2d1909bb90ae5de41bd84</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>b735ab37be4d6fc245701c25b625ca9a</string>
			<key>Key</key>
			<string>fac42c254363e858d8a5159ad26c9ef0d9d734b0aac038168629fcd72f7217c5</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>ffa8e1052c6c6069f799afb15cec9af9</string>
			<key>Key</key>
			<string>41c1453c2f035b5736c5bae334c2aa98a888721bfa23f83c5943a61731b12790</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n92ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>5ffc828fe18f967778322463a2d864da</string>
			<key>Key</key>
			<string>f639b703bc74a5e246e2362a78358b1a960f92daa50622c6ed08f719f573ba16</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RootFilesystem</key>
	<string>058-0326-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1822</integer>
	<key>RootFilesystemKey</key>
	<string>abbb1f3f1de2c5d5e45c1d6facbf0fd051a9f56c3155d9995d4aad8e447759068ad7a297</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B511.N92OS</string>
	<key>SHA1</key>
	<string>32f23fbbfd416e3cc45920b65b0d776886463d6f</string>
	<key>Filename</key>
	<string>iPhone3,3_7.0.3_11B511_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,3_7.0.3_11B511</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
