<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>98c715c105cde8aad13dcde4d6164c69</string>
			<key>Key</key>
			<string>c68c527fad5b101bf6f3342548d434425f0e1370f05fbaf4ff2cd57f1d9a16c9</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n92</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4266-010.dmg</string>
			<key>IV</key>
			<string>ab730b85ad270792ffd33f9c75382d15</string>
			<key>Key</key>
			<string>8b368bd8e2a09f000258f794c95ed405c1078796abefe1f522ec42e248e08f0b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2441-007.dmg</string>
			<key>IV</key>
			<string>e7c082ad98b5fe0ed45bc95531db50e6</string>
			<key>Key</key>
			<string>6328b0e17dd264f5eaa21ce9b135119924407cce39f7d396e631f5e7ee3e6087</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>293cc706282984db11e1d4e44d9d5709</string>
			<key>Key</key>
			<string>a383c3055d8a6f5350226cb2af458e29aa38abda3672c38d8d63dfa1118988c8</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>da1a960590726a66f23d6418602d6e63</string>
			<key>Key</key>
			<string>6e8292914a5597610f7d76fdc25ee88ad5240c19591f071f4993cbdefa902019</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>1cb06e4050a72fca0b6884f0be6468d4</string>
			<key>Key</key>
			<string>7c11ffa50c2eb5d5e02712f2698d9245662b91a1da2b0acfe1804df8aec2013e</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n92ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>02c61d93a817034d49edb0ad1ef4e77e</string>
			<key>Key</key>
			<string>ac48545272fa0c0bd806d9e9e9f3d923e650f5d114b1f9aeef4dd2da326e680c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RootFilesystem</key>
	<string>048-2443-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1822</integer>
	<key>RootFilesystemKey</key>
	<string>3ad3f6163e6d6307f7149ae980df922725718f32f28554d8969cbdb92349e3c79de9b623</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps.N92OS</string>
	<key>SHA1</key>
	<string>42f09fdc2e35426cc402ee683efb3b5e62dfe46a</string>
	<key>Filename</key>
	<string>iPhone3,3_6.1.3_10B329_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,3_6.1.3_10B329</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
