<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>a7390855da217c26350168c87c55a7f9</string>
			<key>Key</key>
			<string>25d6710d681e4e71d8992618cdd0381cd49f1f35061edb2e8594a5b1dd035da6</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n92</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4266-010.dmg</string>
			<key>IV</key>
			<string>ab730b85ad270792ffd33f9c75382d15</string>
			<key>Key</key>
			<string>8b368bd8e2a09f000258f794c95ed405c1078796abefe1f522ec42e248e08f0b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-1037-002.dmg</string>
			<key>IV</key>
			<string>bc4ea80b6dc4947fae40d48487c0eb65</string>
			<key>Key</key>
			<string>687d3758520df052a631776e38113a30c430e1b44392dfa9f4c8698b88e5cc34</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fbe453ddf2767e1e8aca5fdad68ef10b</string>
			<key>Key</key>
			<string>ef853015c55869d9d984f42b2003030d8b23e19cb178c508e12f75feaf4377c6</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>913e8cde71ef57f76bf7bfc5a60483f4</string>
			<key>Key</key>
			<string>cc6930bb43b1205202bc7952bfe773a294b3124e591c8965d4570901658947ce</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>2384d340927c2e1c1c2625f7a376e045</string>
			<key>Key</key>
			<string>1387323c82a77c7e4ae673f1f52d2bf71b75f2d1f4b7ee167021ca281c9e9e08</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n92ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>3f8242d052747b044ce397913ed0653f</string>
			<key>Key</key>
			<string>8c55091ae1df185dabe7710ee987bc5a06460ca2930f4bf3ddf8b6fcd248fd67</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RootFilesystem</key>
	<string>048-0883-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1900</integer>
	<key>RootFilesystemKey</key>
	<string>f620b7ac829004a7cdf68ffd10008e751878f18331655dbd6b7e08587d0655507cd9319e</string>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton.N92OS</string>
	<key>SHA1</key>
	<string>8e975c8028daf68ed2fe8e6af3d5e065486b013c</string>
	<key>Filename</key>
	<string>iPhone3,3_6.1.2_10B146_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,3_6.1.2_10B146</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
