<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad2,2_5.1_9B176_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-1868-186.dmg</string>
			<key>IV</key>
			<string>e47b053f232294cf363bde9fd273e2f2</string>
			<key>Key</key>
			<string>42645bb5a6af3a96a029cd092c24a979e73362b668f71f7dec3faeccb52d8770</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k94ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
			<key>IV</key>
			<string>e6260394fd6908bba070f237635f9c47</string>
			<key>Key</key>
			<string>c80af9672b7dad42ff98ded87fbf98253daac53f55df0affa300c0b1690381d5</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k94</string>
			<key>File</key>
			<string>kernelcache.release.k94</string>
			<key>IV</key>
			<string>ca5ad888fa7430f31ea66c3211f3301d</string>
			<key>Key</key>
			<string>761696c980120b4fd5e4dc9beb75e4b50cb7f79483d1cc235f820ba551cc9d44</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>4483b5408a57951012116e8b752d2da4</string>
			<key>Key</key>
			<string>f49f103199ae215f3266332584dc070f14ec847ec85f7b7535e1891859c849a7</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>8db34b62c6da90b932bd0f942023b1eb</string>
			<key>Key</key>
			<string>f6c68755952f1dc381ad2145a0338ef46c7d4f50b53f2e155fb4aa833986d326</string>
			<key>Patch</key>
			<string>iBEC.k94ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>2a715422db93a453b2de990f6d8482fb</string>
			<key>Key</key>
			<string>978c250a92516f67c50dca97b54e61afa06e5f84f19114072791fc0d559bb74a</string>
			<key>Patch</key>
			<string>iBSS.k94ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,2_5.1_9B176</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k94.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-1770-169.dmg</string>
	<key>RootFilesystemKey</key>
	<string>9a44b066db2e205f6d64e867edcd998f3536ee2995d1afb1e84bed101ce7d8fb6129156a</string>
	<key>RootFilesystemMountVolume</key>
	<string>Hoodoo9B176.K94OS</string>
	<key>RootFilesystemSize</key>
	<integer>1185</integer>
	<key>SHA1</key>
	<string>986d379ee08772262bbcfb3f0aa84bd3ed530ba0</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
