<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,3_5.0.1_9A405_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-3715-001.dmg</string>
			<key>IV</key>
			<string>02d55437d1fd7c9d24aeb312a78dbd49</string>
			<key>Key</key>
			<string>3aeab4ceb61e011f3013873998bfcf01c585bb548f91e19c9085473f93f6a708</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n92ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>86796bfa80f9bc3bfefb599088d27c2b</string>
			<key>Key</key>
			<string>c540ccc71f0532f8b361a5627bc2ab5a1c662bc2f25a7f7e39964e8f3bc4bdcc</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n92</string>
			<key>File</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>e94b8b8e7a8cfb2a58820ac29fffde91</string>
			<key>Key</key>
			<string>73efff4472beb0559a818d4ddd238f2d53524a22ab606bdd90c4ce979375cfac</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
			<key>IV</key>
			<string>b7f04a12abd4d85251879d93fe522471</string>
			<key>Key</key>
			<string>171bec0c8d4f8398ba1c1e791b2b49cdeb9cf5f344c9a80a29ed649ab2582ef8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>12a4ef7d5541c6a7aacbee76aaba93d0</string>
			<key>Key</key>
			<string>a53678bb23ac9782c6dc5a9c41276d79be63ce7e270b717c2ec2a309b98dfbce</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f12c8bac769bc818db694a4e4ce431a5</string>
			<key>Key</key>
			<string>ba01d8cc57ecb0e6ac5760efc8a3b007c45e58c4b97aed78d34b8f2a4ad12822</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,3_5.0.1_9A405</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-3704-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>36895be7d36aa1415695ec3cd7d33ccf9b088bfc179d48f4d8fc5fd220a2c6f07c9b76d2</string>
	<key>RootFilesystemMountVolume</key>
	<string>Telluride9A405.N92OS</string>
	<key>RootFilesystemSize</key>
	<integer>1085</integer>
	<key>SHA1</key>
	<string>81afa9d2079a7153e5d27e30f1f08e7c53074591</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
