<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>IV</key>
			<string>53e3680ee4c9a89d94755819a08dd84e</string>
			<key>Key</key>
			<string>9f4d766fdfb9c53fa20a577db596913cbb2e2c9d635b3cd7492b2344b192235d</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-7932-010.dmg</string>
			<key>IV</key>
			<string>717b5f377d6e0e4e6ce95252b9d06bf6</string>
			<key>Key</key>
			<string>30d4192b7c8bc5f915efff3c23f62f215906ffb7e80351fb07ae765eeec9d4fd</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>8c9887c89d78da10e0e36cf2e036ab71</string>
			<key>Key</key>
			<string>6e2f7cc52ec88101ca879bdfc2dfd545c29c597c7eeba90c34989d252a67f835</string>
			<key>Patch</key>
			<string>iBSS.k93aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e6518e4fa365b177643444a100b7ad07</string>
			<key>Key</key>
			<string>befa912e5f90ccdb7ec39edea5e5fcc8f43ac41dfd954071c9c4a59f460894b4</string>
			<key>Patch</key>
			<string>iBEC.k93aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>451a884d018399e98147c86c183fcf4f</string>
			<key>Key</key>
			<string>2a7ea4e9f06fd8bef474e298c897fbdd74bfe4aa83eedb330fe34dde41ca8cac</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>0a3642050b4d5862770697d5c4a030ce</string>
			<key>Key</key>
			<string>3eb63880703561b9486040dd0afe240be85c87f04410e1ab9714aaea5d518220</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93a.plist</string>
	<key>RootFilesystem</key>
	<string>038-7944-010.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1481</integer>
	<key>RootFilesystemKey</key>
	<string>2d71a703837164ecc891e7375d5d6eef80b2f8f05d137e203c99aa296c30b99ca5dd610f</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A523.K93aOS</string>
	<key>SHA1</key>
	<string>8a8532c1ab19ec03b34f1d0c3b15093bc7e7569c</string>
	<key>Filename</key>
	<string>iPad2,4_6.0.1_10A523_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,4_6.0.1</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
