<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad1,1_5.0.1_9A405_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-3715-001.dmg</string>
			<key>IV</key>
			<string>6071de3113ff3b4a5f6f2ebc907af054</string>
			<key>Key</key>
			<string>db49f7a53a326ef954ac5f14e9070b772630c35c66a9a8552827d4923b774818</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>044b05f84e0f0e9354a39b2605a018dd</string>
			<key>Key</key>
			<string>454323045f5bffc3503f47f9aa55a09e1f1640650dd6679439f63b634f70d595</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k48</string>
			<key>File</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>7a9f7830796a5185ba394874b2473151</string>
			<key>Key</key>
			<string>d90fe16f581323d0c00af8095cc36b4aaf42aa0f4f265a296d119984c27ba62b</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>02b67045fbadfcc9ca4fdb3cbf2ea4fe</string>
			<key>Key</key>
			<string>d010d42cd2030c3d6387eb6d24208d3738600d8b0912d27fbeb8939fb19c6a9b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>91984b64f1e7bf45d0925e113e208591</string>
			<key>Key</key>
			<string>d07cbce9ecc535cf757e89b03460b8eb889f675807b632a94636452565915d05</string>
			<key>Patch</key>
			<string>iBEC.k48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>35ab5ac9ede6f05f3d35b9d2f4fa4a91</string>
			<key>Key</key>
			<string>f2f614c0e5bac071da384e24b8035f59f7c49cc572ef11dfa8c1d322d45ea2bd</string>
			<key>Patch</key>
			<string>iBSS.k48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad1,1_5.0.1_9A405</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-3699-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>e4b60a747ab372bc047b8a7ca08b62f7524fa5888c76f0db709fd1aa9bcea79076952639</string>
	<key>RootFilesystemMountVolume</key>
	<string>Telluride9A405.K48OS</string>
	<key>RootFilesystemSize</key>
	<integer>1245</integer>
	<key>SHA1</key>
	<string>732fc3ca3f5654e6f0df787c817ca16054dfb8da</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
