<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>62017deb97d4ad07a4ebfbf37f82196e</string>
			<key>Key</key>
			<string>146627d2953e061c6b7fbac370c7982c77bb7aed8466c0a385e745953ca660f5</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n81</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-7924-011.dmg</string>
			<key>IV</key>
			<string>c0bcc59087dda18d0627af51700b80b1</string>
			<key>Key</key>
			<string>51b355da8a84ad677d44eb37a88085e9f506aa196e45d1cd2cbc27e63ef5747d</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d28ad8b5ca4cac1c178fd3465ceea743</string>
			<key>Key</key>
			<string>753cc79032d95b847c1b50e13815b57f887e152e68a96b59386a40f811bbe5a6</string>
			<key>Patch</key>
			<string>iBSS.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>00aaa6ef709023422dc8cabe0624cf46</string>
			<key>Key</key>
			<string>b3eb6a85b1ea2eef63b7de99ca12648b2b46b27df74dc2b024860a5507614613</string>
			<key>Patch</key>
			<string>iBEC.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>239d7a50a1ec8403180f74a0d01bb8ed</string>
			<key>Key</key>
			<string>8af749ff05ed63dd9db7684d44facb9daa69a164fd1b799e78ed336837498dcf</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n81ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>fa0abf89c62f9be2e9d724ce8ff92965</string>
			<key>Key</key>
			<string>eddd34308ec6138bfccd1004e9ea03e7217dc685e92515613d0d06135eeff71c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n81.plist</string>
	<key>RootFilesystem</key>
	<string>038-7009-012.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1212</integer>
	<key>RootFilesystemKey</key>
	<string>82465a9f8328fdb0a4ef2b3fb19bb8934cb96e773d10d7e2b4ab29a5df482870c6737f7a</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A523.N81OS</string>
	<key>SHA1</key>
	<string>dd1824e1cd77eea1d210094ab58b1bf15f980af1</string>
	<key>Filename</key>
	<string>iPod4,1_6.0.1_10A523_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod4,1_6.0.1_10A523</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
