<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad2,3_5.1_9B176_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-1868-186.dmg</string>
			<key>IV</key>
			<string>d5e29436f4df0a422c464fd427ed5754</string>
			<key>Key</key>
			<string>8391832acf5be9b7c1da3d80a22b584b0e590cd00965549a2d6c907459e50074</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k95ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
			<key>IV</key>
			<string>f49af378172364e51d27e9e1392ad200</string>
			<key>Key</key>
			<string>b9d875fc43cbb934aeba9fccb269ca6e16eb02a9ce741922c3a53a03958caeff</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k95</string>
			<key>File</key>
			<string>kernelcache.release.k95</string>
			<key>IV</key>
			<string>4d815d42e06735f050af13312c95ce9d</string>
			<key>Key</key>
			<string>68c340b5fe5841b474c9e102a717e6547e08c68c51fcc6499020930138df5c56</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8940x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
			<key>IV</key>
			<string>4483b5408a57951012116e8b752d2da4</string>
			<key>Key</key>
			<string>f49f103199ae215f3266332584dc070f14ec847ec85f7b7535e1891859c849a7</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k95ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>4b6ef851e894cb5588a23d7d4a963c91</string>
			<key>Key</key>
			<string>fcc220ddc5e4f9775126a3582ebff7f04651856fb45127f09e158ec5b9183a09</string>
			<key>Patch</key>
			<string>iBEC.k95ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k95ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>31b13346d89f2384c1d3d833f56bcd6f</string>
			<key>Key</key>
			<string>cb8b4527eeb7fc57c2369fba0b68b80c5c7bb7cb70db64827ab8900f2d4e8be7</string>
			<key>Patch</key>
			<string>iBSS.k95ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad2,3_5.1_9B176</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k95.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-1771-174.dmg</string>
	<key>RootFilesystemKey</key>
	<string>4b2dd19e7fff303e3c541251211a8d8e8acc1184e77536f376f22d1e8b1e9e14a3b3d681</string>
	<key>RootFilesystemMountVolume</key>
	<string>Hoodoo9B176.K95OS</string>
	<key>RootFilesystemSize</key>
	<integer>1195</integer>
	<key>SHA1</key>
	<string>32bedf657dc7e996a75a86cfce47d4b50ddd3d93</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
