<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad1,1_5.1.1_9B206_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-4361-021.dmg</string>
			<key>IV</key>
			<string>3f009f46be4c7bfe4be64183e38b68b8</string>
			<key>Key</key>
			<string>e3b3c8fca6f358eb18a38d611f3b60caac1d3638b38ff5cec50c151226400988</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>e0a3aa63dae431e573c9827dd3636dd1</string>
			<key>Key</key>
			<string>50208af7c2de617854635fb4fc4eaa8cddab0e9035ea25abf81b0fa8b0b5654f</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k48</string>
			<key>File</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>140984858e5c7fe245a43596f5370a0e</string>
			<key>Key</key>
			<string>fc6733108c9bd4b2179257102f81998089437c2c58cbdb8752fd40a442bd9434</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>4237068c8dd229ab98c63c5ef8d229bc</string>
			<key>Key</key>
			<string>91ec6f799f12ce876fbe8bbf8de0b998fcf358ca5001af7f3016a7d782576617</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bde7b0d5cf7861479d81eb23f99d2e9e</string>
			<key>Key</key>
			<string>1ba1f38e6a5b4841c1716c11acae9ee0fb471e50362a3b0dd8d98019f174a2f2</string>
			<key>Patch</key>
			<string>iBEC.k48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9c69f81db931108e8efc268de3f5d94d</string>
			<key>Key</key>
			<string>92f1cc2ca8362740734d69386fa6dde5582e18786777e1f9772d5dd364d873fb</string>
			<key>Patch</key>
			<string>iBSS.k48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad1,1_5.1.1_9B206</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-4291-006.dmg</string>
	<key>RootFilesystemKey</key>
	<string>f7bb9fd8aa3102484ab9c847dacfd3d73f1f430acb49ed7a422226f2410acee17664c91b</string>
	<key>RootFilesystemMountVolume</key>
	<string>Hoodoo9B206.K48OS</string>
	<key>RootFilesystemSize</key>
	<integer>1185</integer>
	<key>SHA1</key>
	<string>ad9b607439250f2337fe132890dadc4c487beca8</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
