<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad1,1_5.1_9B176_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-1813-172.dmg</string>
			<key>IV</key>
			<string>286bedd39e0b2b44aa77f49dd0cbde8d</string>
			<key>Key</key>
			<string>6442d5e7849ff2136a9dba4e8fb77511444e3031bbebd34b596c8534535fb2b7</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>e0a3aa63dae431e573c9827dd3636dd1</string>
			<key>Key</key>
			<string>50208af7c2de617854635fb4fc4eaa8cddab0e9035ea25abf81b0fa8b0b5654f</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k48</string>
			<key>File</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>b5859055014ad2764768f3262c00908e</string>
			<key>Key</key>
			<string>1686e3de7bc3a265efbce1b33e1389f25ac85d0235de1af76ed225f4aaec1539</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>4237068c8dd229ab98c63c5ef8d229bc</string>
			<key>Key</key>
			<string>91ec6f799f12ce876fbe8bbf8de0b998fcf358ca5001af7f3016a7d782576617</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bde7b0d5cf7861479d81eb23f99d2e9e</string>
			<key>Key</key>
			<string>1ba1f38e6a5b4841c1716c11acae9ee0fb471e50362a3b0dd8d98019f174a2f2</string>
			<key>Patch</key>
			<string>iBEC.k48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9c69f81db931108e8efc268de3f5d94d</string>
			<key>Key</key>
			<string>92f1cc2ca8362740734d69386fa6dde5582e18786777e1f9772d5dd364d873fb</string>
			<key>Patch</key>
			<string>iBSS.k48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad1,1_5.1_9B176</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-1767-167.dmg</string>
	<key>RootFilesystemKey</key>
	<string>be9d3af82b127eecaabe0eebe712a16a9b1b30de73ee640855479fb93b4387b3f388508c</string>
	<key>RootFilesystemMountVolume</key>
	<string>Hoodoo9B176.K48OS</string>
	<key>RootFilesystemSize</key>
	<integer>1185</integer>
	<key>SHA1</key>
	<string>f6b19779d2fe4242f87d55701e049291c978e3b3</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
