<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>IV</key>
			<string>cf0dc42e62e4686b3618e50d02f419d5</string>
			<key>Key</key>
			<string>dd49ef26915d81691f229308c3d8e2558b8b174b2040474b819010d204570ad4</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k93a</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-1045-002.dmg</string>
			<key>IV</key>
			<string>cbb2f92032564b07259b48c5dbb9e71a</string>
			<key>Key</key>
			<string>9ab3ae1d901f6ad72a2842da3ea36f9c22c62688ac01db0834cbf9a3ebd27140</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>536a10c086dc3ee5b0c20d5a7d1d8f47</string>
			<key>Key</key>
			<string>e4cf9269a9c2f9bddd09dcf3e6790e03eee18d04289c273bb46e44c88cbccf4e</string>
			<key>Patch</key>
			<string>iBSS.k93aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7c9edd3608a62e26ba46620833e868d3</string>
			<key>Key</key>
			<string>0c5fbc11519045331dbf8df6895acdd11887d4fc546bda386d000c3bad8c88f2</string>
			<key>Patch</key>
			<string>iBEC.k93aap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>72bc977d7e15ddfad8b2ab6936887ca2</string>
			<key>Key</key>
			<string>58e4d4c9206a795987a229f991475005e632495188e29aaf49395dfa69e2e271</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>3910661e212301dc5b60710cd50ad864</string>
			<key>Key</key>
			<string>17c1ee45fcd115f1d2d9eca6afaf5e9d2b94081c7afa33217d41cda93f371d96</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93a.plist</string>
	<key>RootFilesystem</key>
	<string>048-0773-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1501</integer>
	<key>RootFilesystemKey</key>
	<string>59e4a56953f8927631bef9c6cb5546d75f6d34f069bbe4053cfe24072a44bb52556afccd</string>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B146.K93aOS</string>
	<key>SHA1</key>
	<string>e473e3f7d3c23fd2675c0caf124c26ef9a0c214c</string>
	<key>Filename</key>
	<string>iPad2,4_6.1.2_10B146_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,4_6.1.2</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
