<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>ca7291fd4dd0e13b159d76c74b55790d</string>
			<key>Key</key>
			<string>1025e9bc61f577011bc7b0c7dae2fa67afe9ab246ceaa8f8eab46619d383e8fb</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n92</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4266-010.dmg</string>
			<key>IV</key>
			<string>ab730b85ad270792ffd33f9c75382d15</string>
			<key>Key</key>
			<string>8b368bd8e2a09f000258f794c95ed405c1078796abefe1f522ec42e248e08f0b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-0138-003.dmg</string>
			<key>IV</key>
			<string>d04a5bd786cc54b4dc86bd0a1794d1a1</string>
			<key>Key</key>
			<string>ad0a912030ded80bbbf853b8bfb9136f257b9b276b61f9c5054325241007ca1e</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>dc63a51857ccb1172d8e04ec22316e67</string>
			<key>Key</key>
			<string>f4509af1eece8d894e73f9907aefaebf66df8368a60099ec91741d5761cabaa2</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>43fd6664d26e19b90bdacb6ec9cd6de5</string>
			<key>Key</key>
			<string>852bd17bd52a8b6e1226ca4a80ca7a6767deaabff9a576eb62fd5ba3a5b7b299</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>d07a108b7bd4c615b9327d0ee554400c</string>
			<key>Key</key>
			<string>d7250dd15715d7d3ae9a193c3db7ce4d6701b0b4fad0f4497e14936ce90b6e6c</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n92ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>0f69a6197a7af2f40b025ff13baa960f</string>
			<key>Key</key>
			<string>0f7ff6214f7e3d5edd172d86502a18e9d51d1a596e0b28b92d541914ae039665</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RootFilesystem</key>
	<string>038-5830-122.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2122</integer>
	<key>RootFilesystemKey</key>
	<string>47609f7d1fda9002160be1ea48a75c0497eab5c31051d221fc520974a4804b5fbe1103ff</string>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton.N92OS</string>
	<key>SHA1</key>
	<string>18c3b2fda21a12729976ecbb44344686ef27442b</string>
	<key>Filename</key>
	<string>iPhone3,3_6.1_10B141_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,3_6.1_10B141</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
