<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>a35253bfe85a1d616d23287472a136eb</string>
			<key>Key</key>
			<string>020f9e1d9d974e8c267637e1d0a503cd8d49c1c967ae723440558df2859e4ecd</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n92</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4266-010.dmg</string>
			<key>IV</key>
			<string>ab730b85ad270792ffd33f9c75382d15</string>
			<key>Key</key>
			<string>8b368bd8e2a09f000258f794c95ed405c1078796abefe1f522ec42e248e08f0b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-7924-011.dmg</string>
			<key>IV</key>
			<string>8b1ff0c8c73405dfe723f6be3f9290dd</string>
			<key>Key</key>
			<string>4f97bc9ba21e3535e640b3a69f0b88ae260506a499a991ece2b1b9797eba5052</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>23385066017c0b14542736d5308fc9bb</string>
			<key>Key</key>
			<string>7616fe3865cbb9c98e764a0c26c4911d58f14048cf3faffa50417cc55a6a296b</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d8cf8b9b2043b88a29ee63d01ff900dd</string>
			<key>Key</key>
			<string>5c06fe1539c5bc1e9ad5ae4025b682cc08ad5e256c4e844828e7bd3186627fd6</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>684d923b700c4818a71108e3561da62d</string>
			<key>Key</key>
			<string>6abafff4cbb08b87a155229fd12362956d18e140e828d02408ddf89e9f3aa4bf</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n92ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>fa0abf89c62f9be2e9d724ce8ff92965</string>
			<key>Key</key>
			<string>eddd34308ec6138bfccd1004e9ea03e7217dc685e92515613d0d06135eeff71c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RootFilesystem</key>
	<string>038-7958-010.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1277</integer>
	<key>RootFilesystemKey</key>
	<string>1076b3547842e1822a10eaa22723c0ef9145f823899be7f876d5bde1f853f4fb496ab606</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance.N92OS</string>
	<key>SHA1</key>
	<string>3084e9bbc9c6fedefc52f098590d57dbcc6da97e</string>
	<key>Filename</key>
	<string>iPhone3,3_6.0.1_10A523_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,3_6.0.1_10A523</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
