<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>9c9429b4440d6cd771f15955f1ef6671</string>
			<key>Key</key>
			<string>82c7c2e02f94c0d999245856e9405196368c7504e6313638806e17fe63bcdfc2</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n81</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2533-005.dmg</string>
			<key>IV</key>
			<string>49ab89542e78dce8866bd005af2a2515</string>
			<key>Key</key>
			<string>6b5b0b02f3ef2a02fc3b40a185aacdc57a9e2b377aabae42d117387720a8cc4d</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-5280-001.dmg</string>
			<key>IV</key>
			<string>3ee93867dca9f215eaf25c8788151246</string>
			<key>Key</key>
			<string>511f04ff6545e66f5745c9f5e15498e7f7fc7cf07db0766015ed28e283a6436f</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>daafc6ddd42c8f807000b9c1dd453236</string>
			<key>Key</key>
			<string>1e68d69064ca17c6717be4fa4ff09a71eba1ad0af2a96df4b99a69f6e7258058</string>
			<key>Patch</key>
			<string>iBSS.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fb44e5dbd3eb75d20f83c0f14d452346</string>
			<key>Key</key>
			<string>12a5192b4a2e860a76e9368e18e182e5f9f4809dcba62098fcbbaa63ef998a3c</string>
			<key>Patch</key>
			<string>iBEC.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>830c518baddc2e82ad27de186a56e451</string>
			<key>Key</key>
			<string>fd12079909ae24b2f8140720854608d12c066def4dc07b66f142259d2970426c</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n81ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>4070df5cdaba5b0cec11767d0dc62b41</string>
			<key>Key</key>
			<string>8d9f7126748e6912b60b74bd0d669614e23d1adf523bfa2f6af00c276891412e</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n81.plist</string>
	<key>RootFilesystem</key>
	<string>048-2914-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1212</integer>
	<key>RootFilesystemKey</key>
	<string>4432650682d8f34039f9cc61efc435e95e266d6a425b73835d58f8303b77b8c178599cbb</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B400.N81OS</string>
	<key>SHA1</key>
	<string>146c1390bf476c6b87f5ff63100c8e574c8a369a</string>
	<key>Filename</key>
	<string>iPod4,1_6.1.5_10B400_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod4,1_6.1.5_10B400</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
