<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>d86d4429a39c1ba946cd11180dc5d6fc</string>
			<key>Key</key>
			<string>cd542a0bb4f11668db70cdb094b32d3dcda8be777e09526697db17ca01eb398e</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n92</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4266-010.dmg</string>
			<key>IV</key>
			<string>ab730b85ad270792ffd33f9c75382d15</string>
			<key>Key</key>
			<string>8b368bd8e2a09f000258f794c95ed405c1078796abefe1f522ec42e248e08f0b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-6451-001.dmg</string>
			<key>IV</key>
			<string>612931d878d77ab86f1d5e89bdad0594</string>
			<key>Key</key>
			<string>a9e1160537469543d0dc16c3051bf5c4791c845ba5473dec2c159fcecbace173</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>75c0c6ece308ef95caeab8b8889046c8</string>
			<key>Key</key>
			<string>f6bc9f655629330d4ceca465adbc4fecd71a3be8aad604e01675142c5b4827a3</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>2c4eedbdec65e724a309b73865ad39f6</string>
			<key>Key</key>
			<string>1a44d9460136b0b11394da63b761c594e88ea4fde24be5cec47a9fba47ebec6f</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>0c8f1edb6384e9dafb5922c5bbc29d09</string>
			<key>Key</key>
			<string>a3da00c0353ac40bd1fd8ff8f4c38528fced13759e1bf48e1ec2680213da0ff2</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n92ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>a14d007b10b063d75aae4a2b91999e6c</string>
			<key>Key</key>
			<string>25705802dd917d9c651c9b8c49cc4d8874c3a67f5ce1a0adfd4758a14ddff454</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RootFilesystem</key>
	<string>038-6500-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1277</integer>
	<key>RootFilesystemKey</key>
	<string>e2f187cced00643b2129df66f2d22a6bc0c58235ca3cf85d95d7593382c3178737cf7113</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance.N92OS</string>
	<key>SHA1</key>
	<string>82c8774281d97cde005da969ac50827ff4fab173</string>
	<key>Filename</key>
	<string>iPhone3,3_6.0_10A403_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,3_6.0_10A403</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
