<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n92</string>
			<key>IV</key>
			<string>6f1ae53f5527fd1b58b36c85817831e7</string>
			<key>Key</key>
			<string>ca70f27b3e3b198df496dcdce17257fecda81f734018d92b9f37c8e1540e0d24</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n92</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4266-010.dmg</string>
			<key>IV</key>
			<string>ab730b85ad270792ffd33f9c75382d15</string>
			<key>Key</key>
			<string>8b368bd8e2a09f000258f794c95ed405c1078796abefe1f522ec42e248e08f0b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-2320-001.dmg</string>
			<key>IV</key>
			<string>3aa2d71176c26ddabe01334600fafca5</string>
			<key>Key</key>
			<string>5c642d8adaa9fda01736bd788d6ebdaa782f80e3625a835f7e3d632f6260caf0</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>de63a18aa0da6373eeee8e3c1797f2ec</string>
			<key>Key</key>
			<string>23e25958ea664111e7e537d009893d41f8673381ce78a4c24f76412b86b059f1</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9e5fdfbe1a517a864ec161e4191e1d6e</string>
			<key>Key</key>
			<string>044ed502bf09d49a64141488aca5ecfd478bd9b330d7724b70c2bdb72106c696</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
			<key>IV</key>
			<string>fb3219b77d0a2caf849f76043a131994</string>
			<key>Key</key>
			<string>dd865b3d45b1462a7bf9cd5a8c90d82905a74d1324ed5ffd51442bb6f3ce0f35</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n92ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>37e3909dfb8d38d4c0cd070c12180b39</string>
			<key>Key</key>
			<string>98fd6c5260d2fbc2a4356d949668fb63a41b8caf5f44cde34a0437a48e4b152c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RootFilesystem</key>
	<string>058-2321-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1822</integer>
	<key>RootFilesystemKey</key>
	<string>c670da7a7efe3fe27c807e9dad4d71c7c09df9d7d8a8b090c4cbe2a9783df48ec60990db</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.N92OS</string>
	<key>SHA1</key>
	<string>535f5ff04e0218f54865b02278e245ee42315b0d</string>
	<key>Filename</key>
	<string>iPhone3,3_7.0.6_11B651_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,3_7.0.6_11B651</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
