<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.p105</string>
			<key>IV</key>
			<string>6ff3c9e62d489e876502fe6641e860f4</string>
			<key>Key</key>
			<string>b467496751f4235e54816ff24b4680fbe96a86bdfa6f9046c8429e25bb890a7f</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p105</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-0314-002.dmg</string>
			<key>IV</key>
			<string>c4b891d0a3928876ea8a1156edc59ab5</string>
			<key>Key</key>
			<string>c71b9db7395274d0643b8f405b0350c9ce10553444347e0fff6292d20ab81e09</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>784274c3cab306660adc7cbd55742297</string>
			<key>Key</key>
			<string>b891dfdcb676bf84745c51df9dd5b3e180afddae26e3695e6dc04ff69c678e47</string>
			<key>Patch</key>
			<string>iBSS.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p105ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6e6ca942b2a35c45dd4dea2cb673ccb2</string>
			<key>Key</key>
			<string>6df3239fa332a9b41d9c0ab39c72a8a810bb76f1df45810789ee2109e90846e0</string>
			<key>Patch</key>
			<string>iBEC.p105ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
			<key>IV</key>
			<string>73d41e7134c73d8d4459559d2d26928a</string>
			<key>Key</key>
			<string>3bab1a9b92397c51b19c0ce318c2612a93bfbf505c4d5860a43c0176074339e6</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p105ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>ebc31fdda18bd782f5a2779a9b253bcd</string>
			<key>Key</key>
			<string>422e74aa1c920cabdd1cd9d3c783af8d1774b2ee6962c5bc238463b546beb76a</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p105.plist</string>
	<key>RootFilesystem</key>
	<string>058-0199-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1443</integer>
	<key>RootFilesystemKey</key>
	<string>3c868510ffcaa5062c75f2d77d5cea4976380eb54405d3c5e143217285bdbdecf1067b34</string>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B511.P105OS</string>
	<key>SHA1</key>
	<string>f6e7398a6eaac7fa22360c1c71cdda2afff28f99</string>
	<key>Filename</key>
	<string>iPad2,5_7.0.3_11B511_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,5_7.0.3_11B511</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
