<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>0bc74e65f8156734022c512d1b12d35e</string>
			<key>Key</key>
			<string>008a437dab771723451d40d3534ccce7e455e43477e346ef5d75fceef0d7d883</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n81</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2533-005.dmg</string>
			<key>IV</key>
			<string>49ab89542e78dce8866bd005af2a2515</string>
			<key>Key</key>
			<string>6b5b0b02f3ef2a02fc3b40a185aacdc57a9e2b377aabae42d117387720a8cc4d</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-1037-002.dmg</string>
			<key>IV</key>
			<string>1d107690c21fcb7d5dfe517c083a4cc1</string>
			<key>Key</key>
			<string>b69f58f4e73d8fc8b27b4ceedc455e9a79da3002771535073684ee699962e8a2</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d4cce4a1b57ada6f3e388e3c31261ded</string>
			<key>Key</key>
			<string>9e92bc35749e9112228ff6ed842e079aec3f51b297dca3155b492eaee6247f07</string>
			<key>Patch</key>
			<string>iBSS.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f6a150839bc52d8dba3e892fabe6d8d6</string>
			<key>Key</key>
			<string>6975604cfbc853b01988f798305098ab8a70008d5fa7d6596a18e47ebbe2eff8</string>
			<key>Patch</key>
			<string>iBEC.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>90cba5e27fcf574ad53b8697d6658c30</string>
			<key>Key</key>
			<string>84c59de0b9c30637686ef28775fdb0ce15531f73604870ca8b8b1a3be5818629</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n81ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>3f8242d052747b044ce397913ed0653f</string>
			<key>Key</key>
			<string>8c55091ae1df185dabe7710ee987bc5a06460ca2930f4bf3ddf8b6fcd248fd67</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n81.plist</string>
	<key>RootFilesystem</key>
	<string>048-0904-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1212</integer>
	<key>RootFilesystemKey</key>
	<string>67aeecbad72fb61ae972895abaf4e903df26cfd6950e089e63fdac21715e078d3f8dac3e</string>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B146.N81OS</string>
	<key>SHA1</key>
	<string>2fc5141896a0723b9723b36a98037fa17698ad5c</string>
	<key>Filename</key>
	<string>iPod4,1_6.1.2_10B146_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod4,1_6.1.2_10B146</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
