<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>0081f10aca95947882619bad60ee93b4</string>
			<key>Key</key>
			<string>c1fcc093f92bda33f6574226c570c841986c26eb41d30a69d2ff4e05086800aa</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n81</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-0804-001.dmg</string>
			<key>IV</key>
			<string>6124b49aefe5d9d021e2a00212db67bd</string>
			<key>Key</key>
			<string>a79d15c937448703644ddcb2f18384dda9ad3d2efe9f9448473deca1a2581ced</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0a0e6f2107a61726132d2add8b6aa599</string>
			<key>Key</key>
			<string>b16fc642fd06e45b0e1bd9f7f1a869d7124a5206bc901d23562f3318aa4c3af7</string>
			<key>Patch</key>
			<string>iBSS.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>695a697f82978c55769b11f9753d404f</string>
			<key>Key</key>
			<string>56a77bbbc4e9a493a9bd6a28d41bdd6dcf8681d77f4098e9e9837beca064261e</string>
			<key>Patch</key>
			<string>iBEC.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>090a81f5bb55a38a84800e92992880b0</string>
			<key>Key</key>
			<string>c197ef070ccd548edefe83eaf66db807ee3aacf3ab4e6d7dfb720240a0e34f91</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n81ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>0f69a6197a7af2f40b025ff13baa960f</string>
			<key>Key</key>
			<string>0f7ff6214f7e3d5edd172d86502a18e9d51d1a596e0b28b92d541914ae039665</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n81.plist</string>
	<key>RootFilesystem</key>
	<string>048-0819-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1212</integer>
	<key>RootFilesystemKey</key>
	<string>9d4aa60414c4656ef3ecded3315e8717f0c6f308f19bc34e7a8d3fcb8787f7ea58ac2f1a</string>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B144.N81OS</string>
	<key>SHA1</key>
	<string>8bc0f54ef70cab0573b635fc56764397116d4d1b</string>
	<key>Filename</key>
	<string>iPod4,1_6.1_10B144_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod4,1_6.1_10B144</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
