<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad1,1_5.0_9A334_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>018-7923-347.dmg</string>
			<key>IV</key>
			<string>277d39cbbf681df205db5808396baa44</string>
			<key>Key</key>
			<string>e70dfb6d3b6cf2e05366afcf328385425500e67b212e59a6d08b52bb35732da6</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k48ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
			<key>IV</key>
			<string>9e3f91d702c4904cbdcb857335a25f0d</string>
			<key>Key</key>
			<string>f7d46ce7eeeabb39daddaca765c4414095fdc29a127834e6a23348fe5d35f7d6</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.k48</string>
			<key>File</key>
			<string>kernelcache.release.k48</string>
			<key>IV</key>
			<string>68852b68c6306042d6bb1bb78f0503ed</string>
			<key>Key</key>
			<string>dc86b2bee4710e290156646e0ed7b07b82cf95a593a7d320b82984b6ca019b3e</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
			<key>IV</key>
			<string>3cb0d3d1eaa914a8cd22d4023de52695</string>
			<key>Key</key>
			<string>e92ddbdd6f8f099d74356a6ba9c9ea3a9ca49664f60c549e7f187ee5e1a19456</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e4d340d9bb22d4a42eaf1869e0978c8b</string>
			<key>Key</key>
			<string>2177595e32aa2eb51e20bc31f6aed2d7818e3fb75f0321a338ed6fe6f42acccb</string>
			<key>Patch</key>
			<string>iBEC.k48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6ff48f4735a6aff1ffb3dfbdc2ac72d6</string>
			<key>Key</key>
			<string>55fa5096e801823685b27864914926d1c251057257490e24b3573aa9e9ea9cc2</string>
			<key>Patch</key>
			<string>iBSS.k48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad1,1_5.0_9A334</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>018-7877-729.dmg</string>
	<key>RootFilesystemKey</key>
	<string>c7e01f3db404f325eee5062368fc6a795487d859518ee498b4d7f4950a281c5421ffbebf</string>
	<key>RootFilesystemMountVolume</key>
	<string>Telluride9A334.K48OS</string>
	<key>RootFilesystemSize</key>
	<integer>1245</integer>
	<key>SHA1</key>
	<string>c7f6d2d94b1f9f67103343e001f85be7111f6df0</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
