<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>c856cb32d49cf677b1031582560c07f6</string>
			<key>Key</key>
			<string>53503a0603a5e4192df5985ac5817eb1001abaa23e9fc6735dee392a4c063934</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n81</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-6451-001.dmg</string>
			<key>IV</key>
			<string>a73034ff909de56717cfa1104b02f670</string>
			<key>Key</key>
			<string>ebf05aa38d621df8620b9a7cc596da20b326c624a3ad269e4c98fa3cc6fc657e</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>ae7cb1a68476d60b5f46e990715df7bc</string>
			<key>Key</key>
			<string>ce35e0ba4bf6f6386f2646c623969d6e0afe6034d4cf1e2100f0a54293ed9a7d</string>
			<key>Patch</key>
			<string>iBSS.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f5a848aea8e5b7be6ab892c654d744bd</string>
			<key>Key</key>
			<string>2dec22bfcb15adda85f646ad651910f351f782aed6dc5cf2473d7faf3acdfc59</string>
			<key>Patch</key>
			<string>iBEC.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>664381753c870a5b41beec45ac5f34ac</string>
			<key>Key</key>
			<string>f88426775e7f6985701cc5b7ae817b580bcae4f83ed22bc532c7134f84ec3b08</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n81ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>a14d007b10b063d75aae4a2b91999e6c</string>
			<key>Key</key>
			<string>25705802dd917d9c651c9b8c49cc4d8874c3a67f5ce1a0adfd4758a14ddff454</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n81.plist</string>
	<key>RootFilesystem</key>
	<string>038-1142-304.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1212</integer>
	<key>RootFilesystemKey</key>
	<string>4ca4fb440f88acfd8333efa0b171b02bc76942d448a71922da6a4502e63d8f28bc9d958f</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A403.N81OS</string>
	<key>SHA1</key>
	<string>7cc754118a4a8113a67635b14abee0b247936ce8</string>
	<key>Filename</key>
	<string>iPod4,1_6.0_10A403_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod4,1_6.0_10A403</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
