<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n81</string>
			<key>IV</key>
			<string>dea050a8779eb60ffa8ce218815b5223</string>
			<key>Key</key>
			<string>7461ecd185b3ddf75d1dfcdf88dc9cd601d055e03e016fd5f0b482159fcf4d56</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n81</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2533-005.dmg</string>
			<key>IV</key>
			<string>49ab89542e78dce8866bd005af2a2515</string>
			<key>Key</key>
			<string>6b5b0b02f3ef2a02fc3b40a185aacdc57a9e2b377aabae42d117387720a8cc4d</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2441-007.dmg</string>
			<key>IV</key>
			<string>bd08885edcbb892945416c230ab4ebba</string>
			<key>Key</key>
			<string>ee836dd681f7387d8cc1ab69e2f7e935016a096379539432720436b909e9de03</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>e4a4ead4ed015a70f0a8dec720d16641</string>
			<key>Key</key>
			<string>5c127599783645675cdfff691599f6dbccabf84e5b846251a0eade2a75649465</string>
			<key>Patch</key>
			<string>iBSS.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>8277ba98e6dc7e1607558f5ecf1b7360</string>
			<key>Key</key>
			<string>d69db458d5250f9447f9051681585dd878a311e21f7434c98a9e6aed46268bf8</string>
			<key>Patch</key>
			<string>iBEC.n81ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
			<key>IV</key>
			<string>b208842088125a2fa7cc78855a10f673</string>
			<key>Key</key>
			<string>d2e6723424a289ad97cf652326222b45e7151fb78e61faee5a8128b1a470ffeb</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n81ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n81ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>02c61d93a817034d49edb0ad1ef4e77e</string>
			<key>Key</key>
			<string>ac48545272fa0c0bd806d9e9e9f3d923e650f5d114b1f9aeef4dd2da326e680c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n81.plist</string>
	<key>RootFilesystem</key>
	<string>048-2642-005.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1212</integer>
	<key>RootFilesystemKey</key>
	<string>625003a349494ed7fc1972d30f7cf840f8bbff11b2d493593017d0606d88605b7fad5e61</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.N81OS</string>
	<key>SHA1</key>
	<string>c9c8efb5663b8ab5faece095cefd03aa7d499f5e</string>
	<key>Filename</key>
	<string>iPod4,1_6.1.3_10B329_Restore.ipsw</string>
	<key>Name</key>
	<string>iPod4,1_6.1.3_10B329</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
